/* Add CSS styling here */
Add CSS styling here
html, body, div, span, applet, object, iframe,  
h1, h2, h3, h4, h5, h6, p, blockquote, pre,  
a, abbr, acronym, address, big, cite, code,  
del, dfn, em, img, ins, kbd, q, s, samp,  
small, strike, strong, sub, sup, tt, var,  
b, u, i, center,  
dl, dt, dd, ol, ul, li,  
fieldset, form, label, legend,  
table, caption, tbody, tfoot, thead, tr, th, td,  
article, aside, canvas, details, embed,  
figure, figcaption, footer, header, hgroup,  
menu, nav, output, ruby, section, summary,  
time, mark, audio, video {  
margin: 0;  
padding: 0;    
font-size: 100%;  
font: inherit;  
vertical-align: baseline; 
}
*{
    box-sizing: border-box;
    
}
body{
    background-color:#d4efdf;
    font-family: 'Amatic SC', cursive;
}
header{
    display:flex;
    flex-direction:column;
}
h1, h2{
    font-size: 4rem;
    font-family: 'Over the Rainbow', cursive;
    text-align: center;
    color: #1e8449;
}
h2{
    font-size: 3rem;
}
p{
    width: 60%;
    margin:auto;
    font-size: 1.6rem;
    color:#5d6d7e;
    text-align: center;
}
nav{
    width:50%;
    margin: auto;
    text-align: center;
}
nav a{
    width: 15%;
    height:5%;
    background-color: #7dcea0;
    font-size: 1.6rem;
    text-decoration: none;
    padding: .5%;
    color:  #5d6d7e;
    border-radius: 10%;
}
nav a:hover{
    background-color: #5d6d7e;
    color: #7dcea0;
}
.bgImg{
    background-image: url(https://images.unsplash.com/photo-1497211419994-14ae40a3c7a3?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60);
    width: 100%;
    height: 400px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
.bottomSection{
    width: 100%;
    height: 60vh;
    display:flex;
    flex-direction: row;
}
.projectImages{
    margin-right:0;
    padding:2%;
    width: 70%;
    display:flex;
}
  
.projectImages img{
    width: 30%;
    height: 60vh;
    padding:1%;
}
.projectImages img:hover{
    opacity: 0.3;   
}
.bottomText{
    padding: 2%;
    width: 60%;
    height: 30vh;
    text-align: center;
} 
.bottomText p{
    height: 20vh;
    text-align: center;
}
footer{
    display: flex;
    justify-content: center;
}
button{
    width: 15%;
    height:5%;
    background-color: #7dcea0;
    font-size: 1.6rem;
    text-decoration: none;
    padding: .5%;
    color: #5d6d7e;
    border-radius: 5%;
    margin-bottom: 3%;
}
button:hover{
    background-color: #5d6d7e;
    color: #7dcea0;
}

@media (max-width:800px){
    .projectImages{
        display:flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        margin: auto;
    }
    .projectImages img{
        width:50%;
        height: 40vh;
        padding: 3%;
    }
    .bottomText{
        width:60%;
        height: 20vh;
    }
    .bottomText p{
        width: 100%;
        height: 20vh;
    }
    button{
        width:60%;
        height:20%;
    }
}
@media (max-width: 500px){
    nav a{
        margin: auto;
        width:50%;
        height: 20%;
        
        display: flex;
        flex-direction: column;
    }
    .bgImg{
        background-image: url(https://images.unsplash.com/photo-1497211419994-14ae40a3c7a3?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60);
        width: 90%;
        margin: auto;
        background-attachment: local;
    }
   .projectImages{
      width:100%;
      margin: auto;
      display: flex;
      flex-wrap: wrap;
   }
   .projectImages img{
       width: 40%;
       height:50%;
   }
   .bottomText{
       margin:auto;
   }
   footer{
       background-color: #7dcea0;
   }
   button{
       width:80%;
       height:20%;
   }
}

/* #a6acaf
#5d6d7e
#7dcea0
#eaeded
#d4efdf
#1e8449 */